# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
node_modules/
.next/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
kancha/
venv/
env/
.env
.venv/

# Environment Variables
.env

# ChromaDB
chroma_db/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Data (Optional - uncomment if you want to exclude data)
data/


#env
frontend/.env